/* Styles for larger screens */
.contact-box {
    margin-bottom: 30px;
  }
  .brown-icon {
    color: #8a6525;
  }
  
  
  /* Media query for mobile screens (max-width: 766px) */
  @media (max-width: 766px) {
    .contact-box {
      flex-basis: 100%;
      max-width: 100%;
      margin-bottom: 20px;
      margin-left: 5vh;
      height: 30vh; /* Reduced height for mobile screens */
    }
  }
  